*{
	margin: 0;
}
.container{
	display:flex;
	color:red;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-content: flex-start;
}
.item{
	width:15%;
	height:80px;
	background-color:black;
}
.item1{
	background-color:green;
	color:black;
	font-size: 35px;
}
.item2{
	background-color:red;
	color:black;
	font-size: 35px;
}
.item3{
	background-color:blue;
	color:black;
	font-size: 35px;
}
